/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{font-family: "LXGW WenKai Mono TC", monospace;}

.header{
  display: flex;
  background-color:#660000;
  padding-left: 5%;
  justify-content: flex-start;
  }

.menu{
  width:500px;
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start;
}
.menu li{
  width: 100px;
  text-align:center;
  margin-top: 20px;
  font-size: 20px;
  
}
.menu li a{
  display:block;
  padding-top:10px;
  padding-bottom:10px;
  color:blanchedalmond;
  text-decoration: none;    
    }

.menu li a:hover{
  border: blanchedalmond solid;
  border-radius: 20px;
  text-shadow: rgb(239, 164, 117) 1px 0 10px;
}

.page{
    display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: 5%;
  line-height: 40px;
}
.page img{
    width:30%;
margin-right: 3%;
margin-left: 3%;}

.page h2{
    font-size: 25px;
    color: #420404;
    font-weight:bold
    }
.page p{
    font-size: 20px;
    color: #720b0b;
   }

.words{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;  
    margin-top: 5%;  
    margin-right: 25%;
    margin-left: 25%;
    line-height: 45px;
}
.words h2{
    font-size: 40px;
    color: #420404;
    font-weight:bold;    
}
.words p{
    font-size: 10px;
    color: #8c4141;
    }